
.heading{
    color:green;
    font-size: 300%;
    text-align: center;
}
div img{
    width:400px;
    height:450px;
}
.recipe{
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items:center;
    width:400px;
    text-align: center;
}

.content{
    gap: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-title{
    font-size: 200%;
    text-align: center;
}

.recipe-content{
    text-align: left;
    display: grid; 
    grid-template-columns: 2fr 0.1fr 1fr; 
    grid-template-rows: 1fr 2fr 0.1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."
      ". . ."
      ". . ."; 
  }

/* .recipe-text{

  } */